@Styles.Render("~/Content/Detail.css")
@model Orderly.Models.RecordDetail

@{
    ViewBag.Title = "Details";
}
@{
    string rank = Model.Rank.ToString();
    string license = Model.HasDriversLicense ? "Yes" : "No";
}
<div class="jumbotron jumbotron-fluid pl-4 bg-transparent mb-0 pb-1">
    <a class="btn go-back mb-2 text-info text-decoration-none" href=@Url.Action("Index","Record")><i class="fa fa-2x fa-backward pt-2"></i></a>
    <h1 class="mb-2">Personnel Record</h1>
    <i class="fa fa-2x fa-user pr-2"></i><h2 class="pl-2 d-inline">@Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)&nbsp;<span class="d-none d-sm-inline px-2">|</span>&nbsp;@Html.DisplayFor(model => rank)&nbsp;<span class="d-none d-sm-inline px-2">|</span>&nbsp;@Html.DisplayFor(model => model.Role)</h2>
    <hr class="" />
</div>
<div class="container">
    <div class="row my-3 ml-lg-2">
        <div class="card col p-0">
            <div class="btn-group d-flex align-self-end position-absolute pt-2" role="group">
                <a class="btn btn-sm" href="@Url.Action("Details","Personnel", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="View Record"><i class="fa fa-2x fa-address-book text-hover"></i></span>
                </a>
                <a class="btn btn-sm" href="@Url.Action("Edit","Personnel", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Edit Record"><i class="fa fa-2x fa-edit text-hover"></i></span>
                </a>
            </div>
            <div class="card-header">
                <h4 class="card-title mb-1">
                    Personal
                </h4>
            </div>
            <div class="col card-body py-1">
                <div class="row">
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.Rank)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => rank)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MiddleName)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.SSN)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SSN)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.DOD)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DOD)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DOB)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.Age)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Age)
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 ml-lg-2">
        <div class="card col p-0">
            <div class="btn-group d-flex align-self-end position-absolute pt-2" role="group">
                <a class="btn btn-sm" href="@Url.Action("Details","Contact", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="View Record"><i class="fa fa-2x fa-address-book text-hover"></i></span>
                </a>
                <a class="btn btn-sm" href="@Url.Action("Edit","Contact", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Edit Record"><i class="fa fa-2x fa-edit text-hover"></i></span>
                </a>
            </div>
            <div class="card-header">
                <h4 class="card-title mb-1">Contact</h4>
            </div>
            <div class="col card-body py-1">
                <div class="row">
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.MilEmail)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MilEmail)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.PersonalEmail)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PersonalEmail)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.HasDriversLicense)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => license)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleMake)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleMake)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleModel)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleModel)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.VehicleColor)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehicleColor)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.VehiclePlate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.VehiclePlate)
                        </dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 ml-lg-2">
        <div class="card col-4 p-0">
            <div class="btn-group d-none d-md-flex align-self-end position-absolute pt-2" role="group">
                <a class="btn btn-sm" href="@Url.Action("Detail","Housing", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="View Record"><i class="fa fa-2x fa-address-book text-hover"></i></span>
                </a>
                <a class="btn btn-sm" href="@Url.Action("Edit","Housing", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Edit Record"><i class="fa fa-2x fa-edit text-hover"></i></span>
                </a>
            </div>
            <div class="card-header">
                <h4 class="card-title mb-1">Housing</h4>
            </div>
            <div class="card-body py-1">
                <div class="row">
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                    </div>
                    <div class="col-md">
                        <dt>
                            @Html.DisplayNameFor(model => model.Room)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Room)
                        </dd>
                    </div>
                </div>
            </div>
                <div class="d-md-none pr-2 text-right">
                    <p class="m-0">
                    <a class="card-link" href="@Url.Action("Detail","Housing", new { id = Model.PersonnelId })">View</a>
                    </p>
                    <p class="m-0">
                        <a class="card-link" href="@Url.Action("Edit","Housing", new { id = Model.PersonnelId })">Edit</a>
                        </p>
                </div>
        </div>
        <div class="card col ml-2 p-0">
            <div class="btn-group d-flex align-self-end position-absolute pt-2" role="group">
                <a class="btn btn-sm" href="@Url.Action("Detail","UnitInfo", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="View Record"><i class="fa fa-2x fa-address-book text-hover"></i></span>
                </a>
                <a class="btn btn-sm" href="@Url.Action("Edit","UnitInfo", new { id = Model.PersonnelId })">
                    <span class="text-muted" data-toggle="tooltip" data-placement="top" title="Edit Record"><i class="fa fa-2x fa-edit text-hover"></i></span>
                </a>
            </div>
            <div class="card-header">
                <h4 class="card-title mb-1">Organization</h4>
            </div>
            <div class="card-body py-1">
                <div class="row">
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.Platoon.Name)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.Platoon.Name)
                            <span class="small text-muted font-weight-lighter">
                                (@Html.DisplayFor(model => model.Platoon.Familiar))
                            </span>
                        </p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.Squad.Name)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.Squad.Name)
                        </p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.Team.Name)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.Team.Name)
                        </p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.Role)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.Role)
                        </p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.Arrived)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.Arrived)
                        </p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.LossDate)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.LossDate)
                        </p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-bold mb-0">
                            @Html.DisplayNameFor(model => model.DutyStatus)
                        </h6>
                        <p>
                            @Html.DisplayFor(model => model.DutyStatus)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
