@model Orderly.Models.RecordDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecordDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasDriversLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasDriversLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehiclePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehiclePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleInspected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleInspected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HousingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitInfoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitInfoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arrived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arrived)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LossDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LossDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
