@model IEnumerable<Orderly.Models.RecordListItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
}

<h1 class="h2 font-weight-normal">All Records</h1>
<div class="table-outer">
    <table class="table table-sm table-hover table-fixed"
           id="table"
           data-toggle="table"
           data-height="600"
           data-card-view="true">
        <thead class="thead-dark overflow-auto">
            <tr>
                <th class="bg-transparent border-0"></th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.Rank)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>
                <th class="fit">
                    @Html.DisplayNameFor(model => model.SSN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MilEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasDriversLicense)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleMake)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehiclePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VehicleInspected)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HousingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitInfoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeamId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Arrived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LossDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DutyStatus)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td class="border-0 m-auto pr-2">
                    <a href="@Url.Action("Details","Record", new { id = item.PersonnelId })" class="btn btn-outline-dark">Details</a>
                </td>
                <td class="fit">
                    @{
                        string rank = item.Rank.ToString();
                    }
                    @Html.DisplayFor(modelItem => rank)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.DOD)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.ContactId)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.PersonalEmail)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.MilEmail)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.HasDriversLicense)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.VehicleMake)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.VehicleModel)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.VehicleColor)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.VehiclePlate)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.VehicleYear)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.VehicleInspected)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.HousingId)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.Room)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.UnitInfoId)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.TeamId)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.Arrived)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.LossDate)
                </td>
                <td class="fit">
                    @Html.DisplayFor(modelItem => item.DutyStatus)
                </td>
            </tr>
        }

    </table>
</div>
